.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}

.navItem {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.navLink {
  padding: 0;
}