.section {
  max-width: 600px;
  height: calc(100vh - 188px);
}

.list {
  max-height: calc(100vh - 188px - 378px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: auto;
}

.bun {
  margin-left: 32px;
}

.item {
  display: flex;
  align-items: center;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 52px;
}

.currency {
  width: 36px;
}
