.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #1C1C21;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: unset;
}
