::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-element);
  border: 1px dashed var(--colors-interface-accent);
}
::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
  border: 3px solid var(--text-inactive-color);
}