.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
}

.name {
  text-align: center;
  max-width: 520px;
  width: 100%;
}

.nutrition {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 0 0 60px;
}

.nutrition__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
